.header {
  text-align: center;
  color: #fff;
}

.label-text {
  color: #fff;
}

.user-icon {
  color: #fff;
  font-size: 2em;
}

.favorite-movie-title {
  color: #fff;
}

.btn {
  margin-left: 10px;
}

.favorite-content {
  margin-top: 20px;
  background-color: #060d17;
}

.placeholder-text {
    color: #fff;
}

.favorite-content {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}