// Path: src/components/movie-view/movie-view.scss

.movie-info {
  color: #ffffff;
  border-radius: 10px;
}

.movie-title {
  font-size: 2em;
  font-weight: bold;
  inline-size: 100%;
  writing-mode: horizontal-tb;
}

