// Path: src/components/movie-view/movie-view.scss
.label {
  font-weight: bold;
}

.values {
  margin-bottom: 20px;
}

.button {
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}
